<!DOCTYPE html>
<div class="container">
  <% if flash[:success] %>
    <h3><%= flash[:success] %></h3>
  <% end %>
  <% if flash[:error] %>
    <h3><%= flash[:error] %></h3>
  <% end %>
    <%= render @consumed_food %>
</div>
