<div class="container">
  <h1>Things you can do:</h1>
  <ul>
    <li><p>record a new exercise that you performed <%= link_to "New exercise record" , new_performed_exercise_path  %> </p></li>
    <li><p>record a food you ate <%= link_to "log a new food" , new_consumed_food_path  %> </p></li>
  </ul>
</div>
