<div id="nav_bar" class="light_orange_background">
  <div class="container">
    <%= link_to "Home" ,  root_url %>
    <%= link_to "All Exercises" ,  exercises_path  %>
    <%= link_to  "All Food", foods_path %>
  </div>
</div>
